<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <p class="signin">Вход</p>
    <form class="login-form" th:action="@{/authenticate}" method="post" autocomplete="off">
            <input type="text" placeholder="Имя пользователя" name="username" required/>
            <input type="password" placeholder="Пароль" name="password" required/>
        <button type="submit">Войти</button>
    </form>
    <p class="message">Еще нет аккаунта? <a th:href="@{/registration}">Зарегистрироваться</a></p>
</body>
</html>