<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div class="registration-page">
    <p class="registration">Регистрация</p>
    <form class="registration-form" th:action="@{/register}" method="post" autocomplete="off">
        <input type="text" name="firstname" placeholder="Имя" required>
        <input type="text" name="lastname" placeholder="Фамилия" required>
        <input type="text" name="email" placeholder="Адрес электронной почты" required>
        <input type="text" name="password" placeholder="Пароль" required>
        <button type="submit">зарегистрироваться</button>
    </form>
    <p class="message">Уже есть аккаунт? <a th:href="@{/login}">Войти</a></p>
</div>
</body>
</html>